#layout-header{
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        background: rgb(0, 0, 22);
        height: 60px;
        color: white;
        box-shadow: 1px 1px 1px 1px lightgrey;
        align-items: center;
        

        .mini-logo{
            p{
                margin: 5px;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }

        .auth-links{
            ul{
                margin: 5% 5px;
                display: flex;
                list-style: none;
                li{
                    margin-right: 10px;
                }
            }
        }

        a{
            color: white;
            text-decoration: none;
        }

    }
}